@{
    ViewBag.Title = "Index";
}

<h2>Catalog</h2>

@Html.ActionLink("Product", "Index","Product")<br /><br />
@Html.ActionLink("Purchase", "Index","Purchased")<br /><br />

@Html.ActionLink("Slickgrid Demo", "Index","Slickgrid")